.resident-container {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
}

.header__img {
  width: 100%;
  position: relative;
}

.body {
  background: url('/background_page.jpg') no-repeat fixed;
  background-size: cover;
}